.navLink {
  display: inline-flex;
  padding: 8px;
  margin: 8px;
  text-decoration: none;
  background-color: #1a2c5b;
  color: #fff;
  transition: box-shadow 0.3s ease-in-out;
}

.navLink:hover {
  color: #ff9400;
}

.header {
  border-bottom: 1px solid #1a2c5b;
  box-shadow: 0 4px 8px rgba(46, 23, 177, 0.3);
}
.active {
  background-color: #ceccf4;
  color: aliceblue;
}
