.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  gap: 15px;
}
.cardList{
  display: flex;
}
.title {
  font-weight: 700;
  margin-bottom: 8px;
  text-decoration: none;
}
.dataRelease {
  margin-bottom: 8px;
  text-decoration: none;
}