.card {
  background-size: contain;
}
img {
  height: 390px;
}

.title {
  font-weight: 700;
  margin-bottom: 8px;
  text-decoration: none;
}
.dataRelease {
  margin-bottom: 8px;
  text-decoration: none;
}
